<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/user/home/home.css">

<div class="container">
  <div class="row g-2">
    
        <a href="/user/searchBus" class="button btn-success text-center">Search Bus</a>
    
    
    
        <!-- book the tickets after reserving them -->
          <a href="/user/bookTicket" class="button btn-success text-center">Book Ticket</a>

        <a href="/user/mytickets" class="button btn-success text-center">Reserved</a>


        <a href="/user/Bookedtickets" class="button btn-success text-center">Booked</a>
       
    
      
    

      
    
    
     
    
  </div>
</div>

