
<nav class="navbar">
    <ul>
        <!-- <li><a href="/user/home">Home</a></li> -->
        <li><a href="/user/searchBus">Search</a></li>
        <li><a href="/user/bookTicket">Book</a></li>
        <li><a href="/user/mytickets">Reserved</a></li>
        <li><a href="/user/Bookedtickets">Booked</a></li>
        <li><a href="/user/contact">Contact</a></li>
        <form action="/user/logout" method="post"><button class="btn">LOGOUT</button></form>
    </ul>
</nav>
