
<nav class="navbar ">
    <ul>
        <li><a href="/admin/home">Home</a></li>
    
 

    <form action="/admin/logout" method="post"><button class="btn">LOGOUT</button></form>


    </ul>
   
</nav>  
