<% layout('layouts/adminboiler')%>
<link rel="stylesheet" href="/Admin/home.css">


<h1 class="admin-panel-heading">Admin Panel</h1>
<div class="container admin-panel-container">
  <div class="row g-2">
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/searchBus">
          <button class="admin-panel-button">All Buses</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/addBus">
          <button class="admin-panel-button">Add Bus</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/searchBus/edit">
          <button class="admin-panel-button">Edit Bus</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/searchBus/drop">
          <button class="admin-panel-button">Drop Bus</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/searchBus/detail">
          <button class="admin-panel-button">Bus Detail</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/busstatistic">
          <button class="admin-panel-button">Bus Statistic</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="admin-panel-button-container">
        <a href="/admin/passengerDetail">
          <button class="admin-panel-button">Seats Detail</button>
        </a>
      </div>
    </div>
  </div>
</div>
