<% layout('layouts/boilerplate') %>

<form action="/user/bookTicket" method="post" >
    <label for="token">Seat Token</label>
    <input type="text" name="token" id="token" required>
    <button>Search</button>
</form>